.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 800px;
    margin: 30px auto;
}

.container form {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    margin-top: 50px;
}

.container p {
    display: inline-block;
    color: rgb(177, 42, 42);
    text-align: left;
    transform: translateX(122px);
}

.wrap {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.check_wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.check_wrap >  input {
    width: 50px;
}

.confirm_button{
    background-color:#484bff; 
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    border: none;
    height: 37px;
}
.email_input{
    padding: 8px 16px;
    border-radius: 4px;
    margin: 8px;
    position: relative;
    left: 30px;
    width: 170px;
    height: 20px;
    border: 0.7px solid #ddd;
}
.confirm_input{
    padding: 8px 16px;
    border-radius: 4px;
    margin: 8px;
    width: 170px;
    height: 20px;
    border: 0.7px solid #ddd;
}

.signup_input{
    padding: 8px 16px;
    border-radius: 4px;
    margin: 8px;
    height: 20px;
    width: 240px;
    border: 0.7px solid #ddd;
}

.signup_input:focus{
    outline:  0.7px solid #ddd;
}

.signup_button{
    padding: 8px 16px;
    width: 120px;
    height: 40px;
    border-radius: 4px;
    border: none;
    background-color:#484bff; 
    color: #fff;
    font-weight: 400;
    margin-top: 30px;
}

.button_box{
    display: flex;
    align-items: center;
    transform: translateX(120px);
}