.containel {
  display: flex;
  flex-direction: column;
  min-width: 800px;
}
.title_box {
  text-align: center;
  margin-bottom: 50px;
  margin-top: -150px;
}
.title_box p {
  font-size: 1rem;
  font-weight: 700;
  color: #ffffff;
  line-height: 30px;
  letter-spacing: -0.006em;
  margin-bottom: 12px;
}
.title_box h1 {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 40px;
  color: #ffffff;
  line-height: 55px;
}
.try_section {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.left_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 710px;
  height: 350px;
  border-radius: 4px;
  background-color: #ffffff;
}

.add_utm_box_article {
  display: flex;
  flex-direction: column;
  gap: 12px;
  justify-content: center;
}
.left_title {
  margin-top: 28px;
  font-size: 0.8rem;
  font-weight: 700;
  line-height: 22px;
}
.left_content {
  font-size: 0.7rem;
  font-weight: 400;
  margin-bottom: 20px;
  line-height: 22px;
}
.textarea {
  width: 414px;
  height: 76px;
  border: 1px solid #e1e1e1;
  margin-bottom: 30px;
  padding: 23px;
  border-radius: 4px;

  font-size: 0.8rem;
  font-weight: 400;
  color: #222222;
  line-height: 20px;
  letter-spacing: -0.006em;
}
.right_section {
  display: flex;
  flex-direction: column;

  gap: 12px;
}
.right_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 710px;
  height: 350px;
  border-radius: 4px;
  background-color: #ffffff;
  gap: 6px;
}
.list_utm_box {
  width: 461px;
  height: 261px;
  margin-bottom: 26px;
}
.get_utm {
  display: flex;
  justify-content: space-between;
  width: 474px;
  margin-bottom: 6px;
}

.get_artcle_title {
  font-size: 0.8rem;
  font-weight: 700;
  color: #ffffff;
}
.item_name {
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  /* color: #ffffff; */
}
.add_utm_text {
  font-size: 0.8rem;
  font-weight: 700;
  text-align: left;
  color: #ffffff;
}
@keyframes duration {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
.items_style {
  display: flex;
  align-items: center;
  width: 345px;
  height: 35px;
  background-color: #ffffff;
  border: none;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: 400;
  text-align: left;
  color: #222222;
  margin-left: 5px;
  padding-left: 5px;
}
.any {
  animation: duration 3s ease-in-out;
}
@media (max-width: 1300px) {
  .containel {
    display: flex;
    flex-direction: column;
  }
  .try_section {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
