.user_container {
  position: relative;
  left: 200px;
  padding: 65px 200px;
}

.profile_img_box img {
  border-radius: 50%;
}
.profile_img_box button {
  position: relative;
  top: -24px;
  left: -35px;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;

  background-color: yellow;
}

.user_container article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 1200px;
  height: 586px;

  border-radius: 4px;
  background-color: #ffffff;
}
.item_box {
  width: 800px;
  border-bottom: 1px solid #dfdfdf;
}
