.container {
    display: flex;
    max-width: 1590px;
    width: 100%;
    min-width: 120px;
    max-height: 1080px;
    overflow: scroll;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 40px;
  }

  @media screen and (max-width:1800px) {
    .container {
      width: 70vw;
    }
  }

  @media screen and (max-width:1220px) {
    .container {
      width: 50vw;
    }
  }
  .btn_box {
    width: 58vw;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    /* margin-top: 100px; */
    margin-bottom: 20px;
  }

  @media screen and (max-width:2000px){
    .btn_box {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      justify-content: space-between;
      margin-bottom: 20px;
    }
  }
  .btn_box h1,  .btn_box h4 {
    line-height: 0px;
  }
  .btn_box h1{
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    /* line-height: 38px; */
    /* identical to box height, or 136% */
    letter-spacing: -0.006em;
    
    /* Gray-900 */
    color: #222222;

  }
  .btn_box h4{
    /* Body2 */
    font-family: 'Pretendard';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    /* identical to box height, or 150% */
    letter-spacing: -0.006em;
    /* Gray-900 */
    color: #222222;
  }



  
  .data_btn {
    width: 125px;
    height: 38px;
    padding: 8px 16px;
    gap: 10px;
    background: #484BFF;
    border-radius: 4px;
    color: #FFFFFF;
    margin: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  
  }
  
  
  .container select {
    width: 150px;
    height: 40px;
    padding: 3px;
    border-radius: 4px;
  }
  .container table {
    width: 100%;
    border: 0;
    text-align: left;
    background-color: #fff;
    /* width: fit-content; */
  }
  
  /* tr { */
  /* display: flex; */
  /* } */
  
  .container tr {
    height: 50px;
  }
  
  .container  th,
  .container td {
    width: 30px;
    height: 40px;
    border-bottom: 1px solid lightgray;
    /* box-shadow: inset 0 0 0 1px lightgray; */
    padding: 1rem;
    
  }
  
  .container th {
    padding: 2px 4px;
    position: relative;
    font-weight: 700;
    font-size: 15px;
    line-height: 20px;
    /* text-align: center; */
    height: 60px;
    font-style: normal;

/* identical to box height, or 143% */
letter-spacing: -0.006em;
  }
  
  .container td {
    height: 30px;
  }
  
  .resizer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 5px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
  }
  
  .resizer.isResizing {
    background: blue;
    opacity: 1;
  }
  
  @media (hover: hover) {
    .resizer {
      opacity: 0;
    }
  
    *:hover > .resizer {
      opacity: 1;
    }
  }
  
  .container  input[type='checkbox'] {
    width: 10px;
    height: 10px;
  }
  
  .container input[type='text'] {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .button {
  width: 84px;
  height: 38px;
  padding: 8px 16px;
  gap: 10px;
  background: #484BFF;
  border-radius: 4px;
  color: #FFFFFF;
  margin: 4px;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  
  }
  
  .input_box {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  @media screen and (max-width: 1592px) {
    .table {
      width: 70%;
    }
  }
  .dialog_button {
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-top: 10px;
    background-color: transparent;
  }
  .dialog {
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  .search_input {
    width: 100%;
    border-radius: 4px;
  }
  
  .url_button{
  padding: 5px 12px;
  gap: 10px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  width: 70px;
  height: 28px;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.006em;
  color: #222222;
  }
  
  .copy_button{
    width: 68px;
    height: 28px;
    padding: 5px 12px;
    gap: 10px;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.006em;
  color: #222222;
  }
  