:root {
  /* Color */
  --color-white-100: #ffffff;
  --color-white-200: #f7f7f7;
  --color-white-300: #dfdfdf;
  --color-white-400: #cecece;
  --color-gray: #a5a5a5;
  --color-darkgray: #242424;
  --color-black: #000000;
  --color-background-blue-50: #e2f3ff;
  --color-blue-500: #484bff;
  --color-blue-900: #0a0d54;

  /* Font */
  --font-title-headline28: 28px;
  --font-title-subhaed20: 20px;
  --font-title-headline16: 16px;
  --font-title-headline14: 14px;
  --font-category: 16px;
  --font-body: 14px;
  --font-ception: 12px;

  /* Font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 370ms;
}

/* @import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css");
@font-face {
  font-family: "Pretendard Variable";
  font-weight: 45 920;
  font-style: normal;
  font-display: swap;
  src: local("Pretendard Variable"),
    url("./PretendardVariable.woff2") format("woff2-variations");
} */
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  height: 100vh;
  width: 100vw;

  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #f5f9fc;
  font-family: Pretendard, BlinkMacSystemFont, "Pretendard Variable",
    "Pretendard", "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.CircularUnderLoad-root {
  size: 100px;
}
ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: "Pretendard";
  background-color: transparent;
  border: none;
  cursor: pointer;
}

input {
  font-family: "Pretendard";
}

input:checked {
  background-color: #484bff;
}
label {
  cursor: pointer;
}
