:root {
  /* Color */
  --color-white-100: #ffffff;
  --color-white-200: #f7f7f7;
  --color-white-300: #dfdfdf;
  --color-white-400: #cecece;
  --color-gray: #a5a5a5;
  --color-darkgray: #242424;
  --color-black: #000000;
  --color-background-blue-50: #e2f3ff;
  --color-blue-500: #484bff;
  --color-blue-900: #0a0d54;

  /* Font */
  --font-title-headline28: 28px;
  --font-title-subhaed20: 20px;
  --font-title-headline16: 16px;
  --font-title-headline14: 14px;
  --font-category: 16px;
  --font-body: 14px;
  --font-ception: 12px;

  /* Font-weight */
  --weight-bold: 700;
  --weight-semi-bold: 600;
  --weight-regular: 400;

  /* Animation */
  --animation-duration: 370ms;
}
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');
* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;

  width: 100vw;

  min-height: 100vh;
  overflow-x: hidden;
  box-sizing: border-box;
  background-color: #f5f9fc;
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Segoe UI',
    'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

button {
  cursor: pointer;
}
h1 {
  font-size: var(--font-title-headline28);
  font-weight: var(--weight-bold);
}
h2 {
  font-size: var(--font-title-subhaed20);
  font-weight: var(--weight-bold);
}

h3 {
  font-size: var(--font-title-headline16);
  font-weight: var(--weight-bold);
}
h4 {
  font-size: var(--font-title-headline14);
  font-weight: var(--weight-bold);
}
h5 {
  font-size: var(--font-body);
  font-weight: var(--weight-bold);
}
.category_text {
  font-family: 'Pretendard';
  font-size: var(--font-category);
  font-weight: var(--weight-regular);
  line-height: 24px;
  cursor: pointer;
}
.noti_text {
  font-size: var(--font-body);
}
p {
  font-size: var(--font-ception);
  font-weight: var(--weight-regular);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
