.container {
  width: 100vw;
  overflow: hidden;
}
/* 
* Section One 
*/
.section_one {
  background-image: url("../../src/assets/render/bg-one.png");
  background-size: 100vw 100%;

  background-position: center;
  height: 1000px;
  min-width: 390px;
  padding: 0 15rem;
}
.section_one article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.text_box {
  width: 100%;
  min-width: 450px;
  margin-top: 14em;
}
.bg_one_illust {
  position: relative;
  top: 50px;
  left: 120px;
  width: 100%;
  max-width: 693px;
  height: 100%;
  max-height: 373px;
}
.section_one h1 {
  color: #ffffff;
  font-size: 52px;
  margin: 0;
}
.section_one p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.section_one button {
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  width: 120px;
  height: 44px;
  color: var(--color-blue-500);

  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
}
/*
* Section Sub
*/
.section_one_two {
  background-color: #f5f9fc;
  min-width: 1400px;
  height: 1400px;
}
.web_sub {
  width: 96vw;
  min-width: 1400px;
  height: 100%;
  position: relative;
  top: -20em;
  left: 15em;
}
.m_sub {
  width: 100px;
  height: 100px;
  visibility: hidden;
}

.section_one_two article:nth-child(1) {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1608px;
}
.section_one_two article:nth-child(2) {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -150px;
}
/* 
* Section Two
*/
.section_two {
  display: flex;
  min-width: 390px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 0 240px;
}
.section_two article:nth-child(1) {
  display: flex;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-top: 77px;
}
.section_two p {
  color: #484bff;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 38px;
}
.section_two h2 {
  color: #000000;
  font-weight: 300;
  font-size: 50px;
}
.section_two h1 {
  color: #000000;
  font-weight: 500;
  font-size: 50px;
  /* margin-top: -40px; */
}
.section_two article:nth-child(2) {
  display: flex;
  max-width: 100%;
  min-width: 550px;
  height: auto;
  padding: 110px;
  gap: 140px;
}
.section_two_img {
  /* min-width: 350px; */
  width: 650px;
  margin: 20px;
}
.section_two img {
  max-width: 100%;
  height: auto;
}
/*
* Three
*/
.section_three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fc;
  height: 1080px;
  padding: 0 240px;
  min-width: 390px;
}
.section_three article:nth-child(1) {
  width: 720px;
}
.section_three article:nth-child(2) {
  width: 720px;
  min-width: 320px;
  height: auto;
}
.section_three article:nth-child(2) img {
  width: 100%;
  height: auto;
  border-radius: 20px;
}
.section_three p:nth-child(1) {
  color: #484bff;
  font-weight: 700;
  font-size: 26px;
  margin-bottom: 15px;
}
.section_three h2 {
  color: #000000;
  font-weight: 300;
  font-size: 50px;
  /* margin-top: -15px; */
}
.section_three h1 {
  color: #000000;
  font-weight: 600;
  font-size: 50px;
  margin-bottom: 30px;
}
.three_context {
  font-size: 20px;
  font-weight: 400;
}
/*
* Four
*/
.section_four {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fc;
  color: #ffffff;
  padding: 0 240px;
  background-color: #484bff;
  height: 1080px;
  min-width: 390px;
}

.section_four article:nth-child(2) {
  position: relative;
  top: 0;
  left: 190px;
  width: 720px;
}
.section_four article:nth-child(1) {
  width: 720px;
  min-width: 320px;

  height: auto;
}
.section_four article:nth-child(1) img {
  width: 100%;
  height: auto;

  border-radius: 20px;
}

.section_four h1 {
  font-size: 52px;
  font-weight: 400;
  /* margin-top: -25px; */
}
.section_four h2 {
  font-size: 52px;
  font-weight: 600;
  margin-bottom: 20px;
}
.section_four .sub_title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 10px;
}
.section_four .context {
  font-size: 20px;
  font-weight: 400;
}

/*
* Five
*/

.section_five {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  height: 1080px;
  padding: 0 240px;
}

.section_five article:nth-child(1) {
  width: 720px;
}
.section_five article:nth-child(2) {
  width: 720px;
  min-width: 320px;
  height: auto;
}
.section_five article:nth-child(2) img {
  width: 100%;
  height: auto;
  position: relative;
  top: 0;
  /* left: 100px; */
  border-radius: 20px;
}

.section_five .sub_title {
  color: #484bff;
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 15px;
}
.section_five h1 {
  color: #000000;
  font-weight: 300;
  font-size: 50px;
  margin-bottom: 20px;
}
.section_five span {
  font-weight: 600;
}
.section_five .context {
  font-size: 20px;
  font-weight: 400;
}
/*
* Six
*/
.section_six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;

  background-image: url("../../src/assets/render/bg-six.png");
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 850px;
}
.section_six article {
  display: flex;
  justify-content: space-between;
  width: 1310px;

  text-align: center;
  color: #ffffff;
}
.section_six img {
  width: 150px;
  height: 150px;
}
.section_six h2 {
  font-size: 28px;
  font-weight: 400;
}
.section_six span {
  font-weight: 700;
}
.section_six p {
  font-size: 16px;
  font-weight: 400;
}
.six_card_item img {
  margin-bottom: 41px;
}
.six_card_item h2 {
  margin-bottom: 20px;
}
.section_six button {
  padding: 12px 16px;
  width: 160px;
  height: 44px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 16px;
  line-height: 20px;
  gap: 10px;

  border: none;
  background-color: #484bff;
  border-radius: 4px;
}

/*
* Seven
*/
.section_seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  background-image: url("../../src/assets/render/bg-seven.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 442px;
  /* margin-left: -10px; */
  margin-top: -2px;
}
.section_seven article {
  position: relative;
  left: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.seven_first_img {
  width: 631px;
  height: 24px;
  margin-top: 20px;
}
.section_seven h1 {
  color: #ffffff;
  font-size: 28px;
  font-weight: 700;
}
.seven_button_img {
  padding: 12px 16px;
  width: 150px;
  height: 44px;
  font-size: 14px;

  margin-top: 35px;
}
.seven_sub_img {
  /* visibility: hidden; */
  display: none;
}

/*
* Eight
*/
.section_eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  background-color: #ffffff;
  height: 220px;
}
.section_eight article:nth-child(1) {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1111px;
  height: 165px;
}
.button_box {
  display: flex;
  justify-content: center;
  gap: 7px;
  width: 100px;
}
.section_eight button {
  border: none;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.section_eight p {
  font-size: 14px;
  font-weight: 400;
  color: #626262;
  margin-top: 15px;
}
.button_box img {
  margin-top: 10px;
  cursor: pointer;
}
.e_line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  border-top: 1px solid #efefef;
}
.e_line img {
  margin-left: 13px;
}
.e_cards {
  color: #222222;
}
@media (max-width: 1300px) {
  .section_one_two {
    display: flex;
    flex-direction: column;
    height: 1400px;
  }
  .section_three {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    padding: 0 1em;
  }
  .section_three article:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_three article:nth-child(2) img {
    width: 500px;
    height: auto;
    border-radius: 20px;
    margin-left: 0;
    margin-top: 90px;
  }
  .section_four {
    display: flex;
    flex-direction: column-reverse;

    justify-content: center;
    align-items: center;
    background-color: #f5f9fc;
    color: #ffffff;
    padding: 0 1em;
    background-color: #484bff;
    height: 1080px;
    min-width: 390px;
    gap: 90px;
  }
  .section_four article:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_four article:nth-child(1) img {
    width: 500px;
    height: auto;
    border-radius: 20px;
  }
  .section_four article:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    left: 0;
    /* margin-top: 120px; */
  }
  .section_five {
    flex-direction: column;
    padding: 0 1em;
    gap: 130px;
  }
  .section_five article:nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .section_five article:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_five article:nth-child(2) img {
    width: 500px;
    height: auto;
    position: relative;
    top: 0;
    border-radius: 20px;
  }
}
@media (max-width: 768px) {
  .section_one {
    padding: 0 1em;
  }
  .section_one article {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .bg_one_illust {
    position: relative;

    left: 0;
    width: 100%;
    max-width: 693px;
    height: 100%;
    max-height: 373px;
  }
  .section_one_two {
    height: 1400px;
  }
  .section_one_two article {
    position: relative;
    top: 460px;
    width: 390px;
  }
  .web_sub {
    position: relative;
    top: -35em;
    left: 620px;
    width: 900px;
    height: 600px;
  }

  .section_two {
    padding: 0 1em;
  }
  .section_two h1 {
    /* min-width: 500px; */
    color: #000000;
    font-weight: 500;
    font-size: 40px;
  }
  .section_two p {
    margin-top: 160px;
  }
  .section_two_img {
    /* min-width: 650px; */
    width: 450px;
    /* margin: 20px; */
  }
  .section_two article:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 110px;
    gap: 0;
  }
}
.m_free_btn {
  display: none;
}
.m_seven_button {
  display: none;
}
@media (max-width: 450px) {
  .origin_free_btn {
    display: none;
  }
  .m_free_btn {
    display: block;
  }
  .origin_seven_button {
    display: none;
  }
  .m_seven_button {
    display: block;
  }
  .section_one {
    width: 390px;
    padding: 0 1em;
  }
  .section_one h1 {
    font-size: 26px;
  }
  .text_box {
    width: 100%;
    min-width: 300px;
    margin-top: 10em;
  }
  .free_btn {
    position: relative;
    top: 300px;
  }
  .section_one article {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    padding: 0;
    margin-right: 20px;
  }
  .bg_one_illust {
    position: relative;
    top: 0;
    left: 0;

    max-width: 250px;
    margin-top: -2em;
    max-height: 353px;
  }
  .free_btn {
    top: 200px;
    left: -8px;
  }
  .section_one_two {
    height: 409px;
  }
  .section_one {
    height: 800px;
  }
  .m_sub {
    visibility: visible;
    position: relative;
    top: -40em;
    left: 15em;
    width: 900px;
    height: 500px;
  }
  .web_sub {
    display: none;
  }
  .section_two {
    margin-top: -250px;
  }
  .section_two article {
    margin-left: -30px;
  }
  .section_two p {
    font-size: 14px;
  }
  .section_two h2 {
    font-size: 16px;
  }
  .section_two h1 {
    font-size: 16px;
  }
  .section_two_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_two img {
    width: 350px;
    /* margin: 0; */
  }
  .section_three {
    padding: 0;
    height: 590px;
  }
  .section_three article:nth-child(1) {
    /* padding: 0 150px; */
    /* margin-top: -350px; */
    width: 720px;
  }
  .section_three p:nth-child(1) {
    font-size: 14px;
  }
  .section_three h2 {
    font-size: 16px;
    /* margin-top: -15px; */
  }
  .section_three h1 {
    font-size: 16px;
  }
  .three_context {
    font-size: 14px;
  }
  .section_three article:nth-child(2) img {
    width: 350px;
    margin-top: 50px;
  }
  .section_four {
    display: flex;
    flex-direction: column-reverse;

    justify-content: center;
    align-items: center;
    background-color: #f5f9fc;
    color: #ffffff;
    padding: 0;
    background-color: #484bff;
    height: 590px;
    min-width: 390px;

    gap: 40px;
  }
  .section_four article:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .section_four article:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section_four article:nth-child(1) img {
    width: 350px;
    height: auto;

    border-radius: 20px;
  }

  .section_four h1 {
    font-size: 16px;
  }
  .section_four h2 {
    font-size: 16px;
  }
  .section_four .sub_title {
    font-size: 14px;
  }
  .section_four .context {
    font-size: 14px;
  }

  .section_five {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    height: 590px;
    padding: 0;
    gap: 40px;
  }
  .section_five article:nth-child(2) img {
    width: 350px;
    height: auto;
    position: relative;
    top: 0;
    /* left: 100px; */
    border-radius: 20px;
  }
  .section_five .sub_title {
    font-size: 14px;
  }
  .section_five h1 {
    font-size: 16px;
  }
  .section_five span {
  }
  .section_five .context {
    font-size: 14px;
  }
  .section_six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-image: url("../../src/assets/gif/six.gif");
    background-size: 390px 580px;
    background-position: center;
    width: 100%;
    height: 580px;
  }
  .section_six article {
    display: none;
    justify-content: space-between;
    width: 1310px;

    text-align: center;
    color: #ffffff;
  }
  .section_six button {
    padding: 12px 16px;
    width: 160px;
    height: 44px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 16px;
    line-height: 20px;
    gap: 10px;
    position: relative;
    top: 170px;
    border: none;
    background-color: #484bff;
    border-radius: 4px;
  }
  .section_seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("../../src/assets/render/bg-seven.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 590px;

    margin-top: -2px;
  }
  .seven_first_img {
    width: 390px;
    height: 24px;
    margin-top: 20px;
    visibility: hidden;
  }
  .seven_sub_img {
    width: 170px;
    height: 194px;
    /* visibility: visible; */
    display: block;
  }
  .section_seven h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }
  .seven_button_img {
    padding: 12px 16px;
    width: 150px;
    height: 44px;
    font-size: 14px;

    margin-top: 45px;
  }
  .section_eight article:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 169px;
  }
  .button_box {
    display: flex;
    justify-content: center;

    width: 100px;
  }
  .section_eight button {
    border: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
  }
  .section_eight p {
    font-size: 10px;
    font-weight: 400;
    color: #626262;
    margin-top: 15px;
  }
  .section_eight h4 {
    font-size: 11px;
    font-weight: 700;

    /* margin-top: 15px; */
  }
  .button_box img {
    margin-top: 10px;
    cursor: pointer;
  }
}
