.section_one {
  background-image: url('../../src/assets/sectionone.png');
  background-size: 98% 1000px;
  background-position: center;
  height: 1000px;
  min-width: 1192px;
}
.section_one article {
  position: relative;
  top: 170px;
  left: 240px;
}
.section_one h1 {
  color: #ffffff;
  font-size: 52px;
  margin: 0;
}
.section_one p {
  color: #ffffff;
  font-weight: 400;
  font-size: 16px;
}
.section_one button {
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  width: 120px;
  height: 44px;
  color: var(--color-blue-500);

  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
}
.section_one_two {
  background-color: #f5f9fc;

  height: 664px;
}
.section_one_two article {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1608px;
}
.section_one_two img {
  width: 100%;
  height: auto;
  position: relative;
  top: -400px;
  left: 178px;
}

.section_two {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  padding: 0 240px;
}
.section_two article:nth-child(1) {
  display: flex;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-top: 77px;
}
.section_two p {
  color: #484bff;
  font-weight: 700;
  font-size: 26px;
}
.section_two h2 {
  color: #000000;
  font-weight: 300;
  font-size: 50px;
}
.section_two h1 {
  color: #000000;
  font-weight: 500;
  font-size: 50px;
  margin-top: -40px;
}
.section_two article:nth-child(2) {
  display: flex;

  max-width: 100%;
  height: auto;

  padding: 110px;
}
.section_two_img {
  width: 650px;
  margin: 20px;
}
.section_two img {
  max-width: 100%;
  height: auto;
}
.section_three {
  display: flex;
  align-items: center;
  background-color: #f5f9fc;
  height: 1080px;
  padding: 0 240px;
}
.section_three article:nth-child(1) {
  width: 720px;
}
.section_three article:nth-child(2) {
  width: 720px;
  min-width: 320px;
  height: auto;
}
.section_three article:nth-child(2) img {
  width: 100%;
  height: auto;

  border-radius: 20px;
}
.section_three p {
  color: #484bff;
  font-weight: 700;
  font-size: 26px;
}
.section_three h2 {
  color: #000000;
  font-weight: 300;
  font-size: 50px;
}
.section_three h1 {
  color: #000000;
  font-weight: 500;
  font-size: 50px;
  margin-top: -40px;
}
.section_four {
  display: flex;
  align-items: center;
  background-color: #f5f9fc;
  color: #ffffff;
  padding: 0 240px;
  background-color: #484bff;
  height: 1080px;
}

.section_four article:nth-child(2) {
  width: 720px;
  margin-left: 120px;
}
.section_four article:nth-child(1) {
  width: 720px;
  min-width: 320px;
  height: auto;
}
.section_four article:nth-child(1) img {
  width: 100%;
  height: auto;

  border-radius: 20px;
}

.section_five {
  display: flex;
  align-items: center;
  background-color: #fafafa;
  height: 1080px;
  padding: 0 240px;
}

.section_five article:nth-child(1) {
  width: 720px;
}
.section_five article:nth-child(2) {
  width: 720px;
  min-width: 320px;
  height: auto;
}
.section_five article:nth-child(2) img {
  width: 100%;
  height: auto;

  border-radius: 20px;
}
.section_five p {
  color: #484bff;
  font-weight: 700;
  font-size: 26px;
}
.section_five h2 {
  color: #000000;
  font-weight: 300;
  font-size: 50px;
}
.section_five h1 {
  color: #000000;
  font-weight: 500;
  font-size: 50px;
  margin-top: -40px;
}

.section_six {
  background-image: url('../../src/assets/sectionsix.png');
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 850px;
}
.section_seven {
  background-image: url('../../src/assets/sectionseven.png');
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 440px;
}
.section_eight {
  background-color: #d9d9d9;
  height: 220px;
}

@media (max-width: 1000px) {
  .section_one_two img {
    position: relative;
    top: -270px;
    left: 120px;
  }
  .section_one_two {
    background-color: #ffffff;
    height: 200px;
  }
  .section_two_img {
    min-width: 350px;
  }
  .section_two article:nth-child(1) {
    display: flex;
    text-align: center;
    min-width: 1000px;
    margin-top: 77px;

    position: relative;
    top: 0;
    left: 135px;
  }
  .section_two img {
    position: relative;
    top: 0;
    left: -135px;
    min-width: 350px;
  }

  .section_three {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 1080px;
    padding: 0 240px;
  }
  .section_four {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1080px;
    padding: 0 240px;
    gap: 100px;
  }
}
