/* Layout */
.container {
  width: 100vw;

  overflow: hidden;
}
.container section {
}
.container article {
  display: flex;
  justify-content: center;
  width: 1440px;
  min-width: 1440px;
}

/* 
* Section One 
*/
.l_section_one {
  background-image: url("../../src/assets/render/bg-one.png");
  background-size: 100vw 100%;
  background-position: center;
  /* background-repeat: no-repeat; */
  display: flex;
  justify-content: center;
  height: 1000px;
  min-width: 390px;
}
.l_section_one article {
  display: flex;
  justify-content: space-between;

  color: var(--color-white-100);
}
.l_section_one .text_box h1 {
  font-size: 2rem;
  line-height: 55px;
  /* or 138% */
  letter-spacing: -0.006em;
}
.l_section_one .text_box p {
  font-size: 0.7rem;
  line-height: 24px;
  /* identical to box height, or 150% */
  letter-spacing: -0.006em;
  margin-top: 20px;
}
.l_section_one .text_box {
  margin-top: 150px;
  width: 50%;
  min-width: 400px;
}

.bg_one_illust {
  width: 50%;
  min-width: 693px;
  height: 100%;
  max-height: 373px;
  margin-top: 150px;
}

.l_section_one button {
  border: none;
  background-color: #ffffff;
  border-radius: 4px;
  width: 120px;
  height: 44px;
  color: var(--color-blue-500);

  margin-top: 40px;
  font-size: 14px;
  font-weight: 700;
}
/*
* Section Sub
*/
.l_section_one_two {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #f5f9fc;
  height: 640px;
}
.l_section_one_two article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.web_sub {
  background-position: center;
  background-size: cover;

  width: 100%;
  /* min-width: 1440px; */
  min-width: none;
  height: 100%;
  min-height: 810px;

  margin-top: -440px;
  /* margin-left: 12em; */
}
.m_sub {
  width: 100px;
  height: 100px;
  visibility: hidden;
}

.l_section_one_two article:nth-child(1) {
}

.sub_child{
  position: absolute;
  transform: translateX(40px);
}

/*
* Section Try
*/

.try_section {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #484bff;
  height: 960px;

}

/* 
* Section Two
*/
.l_section_two {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.l_section_two article:nth-child(1) {
  display: flex;
  text-align: center;
  max-width: 100%;
  height: auto;
  margin-top: 77px;
}
.l_section_two .text_box {
  margin-top: 60px;
}
.l_section_two p {
  color: var(--color-blue-700);
  font-weight: 700;
  font-size: 1rem;

  margin-bottom: 10px;
}
.l_section_two h1 {
  color: #222222;
  font-weight: 500;
  line-height: 55px;
  font-style: normal;
}
.l_section_two h2 {
  color: #222222;
  font-weight: 700;
  line-height: 55px;
  font-style: normal;
}

.l_section_two article:nth-child(2) {
  display: flex;
  max-width: 100%;
  min-width: 550px;
  padding: 110px;
  gap: 140px;
}
.section_two_img {
  margin: 20px;
}
.l_section_two img {
  width: 600px;
  min-width: 600px;
  height: 600px;
  min-height: 600px;
  max-width: 100%;
  /* height: auto; */
}
/*
* Three
*/
.section_three {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f5f9fc;
  height: 930px;
  min-width: 390px;
}
.section_three article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blue_text {
  color: var(--color-blue-700);
  font-weight: 700;
  font-size: 1rem;
  margin-bottom: 15px;
}

.section_three h1 {
  color: #000000;
  font-weight: 500;
  font-size: 2rem;
  /* margin-bottom: 30px; */
  line-height: 55px;

  letter-spacing: -0.006em;
}
.section_three h2 {
  font-weight: 700;
  line-height: 55px;

  letter-spacing: -0.006em;
  margin-bottom: 32px;
}
.section_three .content {
  font-size: 1rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: -0.006em;
}
.three_img img {
  width: 720px;
  height: 600px;
  border-radius: 20px;
}
/*
* Four
*/
.l_section_four {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #484bff;
  color: #ffffff;
  height: 930px;
  min-width: 390px;
}

.l_section_four article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.four_img img {
  width: 720px;
  height: 600px;

  border-radius: 20px;
}

.l_section_four .sub_title {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.l_section_four h1 {
  font-weight: 500;
}
.l_section_four h2 {
  font-weight: 700;
  margin-bottom: 32px;
}
.l_section_four .context {
  font-size: 20px;
  font-weight: 400;
  /* margin-top: 32px; */
  line-height: 30px;

  letter-spacing: -0.006em;
}

/*
* Five
*/

.l_section_five {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fafafa;
  height: 930px;
  padding: 0 240px;
}
.l_section_five .text_box {
  align-items: flex-start;
}
.l_section_five article {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.l_section_five .sub_title {
  color: var(--color-blue-700);
  font-size: 0.8rem;
  font-weight: 700;
  margin-bottom: 16px;
}
.l_section_five h1 {
  color: #000000;
  font-weight: 500;
  line-height: 55px;

  letter-spacing: -0.006em;
}
.l_section_five h2 {
  font-weight: 700;
  line-height: 55px;

  letter-spacing: -0.006em;
  margin-bottom: 32px;
}
.l_section_five .context {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  letter-spacing: -0.006em;
}

.five_img img {
  width: 720px;
  height: 600px;

  border-radius: 20px;
}

/*
* Six
*/
.l_section_six {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 150px;

  background-image: url("../../src/assets/render/bg-six.png");
  background-size: auto;
  background-position: center;
  width: 100%;
  height: 850px;
}
.l_section_six article {
  display: flex;
  justify-content: space-evenly;

  text-align: center;
  color: #ffffff;
}
.l_section_six img {
  width: 150px;
  height: 150px;
}
.l_section_six h2 {
  font-size: 1rem;
  font-weight: 700;
}

.l_section_six p {
  font-size: 0.8rem;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  letter-spacing: -0.006em;
}
.six_card_item img {
  margin-bottom: 41px;
}
.six_card_item h2 {
  margin-bottom: 20px;
}
.l_section_six button {
  padding: 12px 16px;
  width: 160px;
  height: 44px;
  color: #ffffff;
  font-size: 14px;
  font-weight: 700;
  padding: 12px 16px;
  line-height: 20px;
  transform: translateX(-5%);

  border: none;
  background-color: #484bff;
  border-radius: 4px;
}

/*
* Seven
*/
.section_seven {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;

  background-image: url("../../src/assets/render/bg-seven.png");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
  margin-top: -2px;
}
.section_seven article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.seven_first_img {
  width: 631px;
  height: 24px;
  margin-top: 20px;
}
.section_seven h1 {
  color: #ffffff;
  font-size: 1.4rem;
  font-weight: 700;
}
.seven_button_img {
  padding: 12px 16px;
  width: 150px;
  height: 44px;
  font-size: 14px;

  margin-top: 35px;
  transform: translateX(-4%);
}
.seven_sub_img {
  display: none;
}

/*
* Eight
*/
.l_section_eight {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;

  background-color: #ffffff;
  height: 220px;
}
.l_section_eight article:nth-child(1) {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 1111px;
  height: 165px;
}
.button_box {
  display: flex;
  justify-content: center;
  gap: 7px;
  width: 100px;
}
.l_section_eight button {
  border: none;
  border-radius: 4px;
  width: 24px;
  height: 24px;
}
.l_section_eight h1 {
  font-size: 0.7rem;
}
.l_section_eight p {
  font-size: 0.7rem;
  font-weight: 400;
  color: #626262;
  margin-top: 15px;
}
.button_box img {
  margin-top: 10px;
  cursor: pointer;
}
.e_line {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 58px;
  border-top: 1px solid #efefef;
  /* transform: translateX(1%); */
}
.e_line img {
  margin-left: 13px;
}
.e_cards {
  color: #222222;
}


@media (max-width: 768px) {
  .section_one {
    padding: 0 1em;
  }
  .l_section_one article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 50px;

  }

  .section_one_two article {
    width: 390px;
  }
  .web_sub {
    width: 900px;
    height: 600px;
  }

  .section_two {
    padding: 0 1em;
  }
  .section_two h1 {
    /* min-width: 500px; */
    color: #000000;
    font-weight: 500;
    font-size: 40px;
  }
  .section_two p {
    margin-top: 160px;
  }
  .section_two_img img {
    width: 600px;
    height: 660px;
  }
  .section_two article:nth-child(2) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding: 110px;
    gap: 0;
  }
  .section_one_two article:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1608px;
    margin-top: -560px;
  }
}
.m_free_btn {
  display: none;
}
.m_seven_button {
  display: none;
}
@media (max-width: 450px) {
  .origin_free_btn {
    display: none;
  }
  .m_free_btn {
    display: block;
  }
  .origin_seven_button {
    display: none;
  }
  .m_seven_button {
    display: block;
  }
  .section_one {
    width: 390px;
    padding: 0 1em;
  }
  .section_one h1 {
    font-size: 26px;
  }
  .text_box {
    width: 100%;
    min-width: 300px;
    margin-top: 10em;
  }
  .free_btn {
    position: relative;
    top: 300px;
  }
  .section_one article {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    align-items: center;
    text-align: center;
    padding: 0;
    margin-right: 20px;
  }
  .bg_one_illust {
    position: relative;
    top: 0;
    left: 0;

    max-width: 250px;
    margin-top: -2em;
    max-height: 353px;
  }
  .free_btn {
    top: 200px;
    left: -8px;
  }
  .section_one_two {
    height: 409px;
  }
  .section_one {
    height: 800px;
  }
  .m_sub {
    visibility: visible;
    position: relative;
    top: -40em;
    left: 15em;
    width: 900px;
    height: 500px;
  }
  .web_sub {
    display: none;
  }
  .section_two {
    margin-top: -250px;
  }
  .section_two article {
    margin-left: -30px;
  }
  .section_two p {
    font-size: 14px;
  }
  .section_two h2 {
    font-size: 16px;
  }
  .section_two h1 {
    font-size: 16px;
  }
  .section_two_img {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .section_two img {
    width: 350px;
    /* margin: 0; */
  }
  .section_three {
    padding: 0;
    height: 590px;
  }
  .section_three article:nth-child(1) {
    /* padding: 0 150px; */
    /* margin-top: -350px; */
    width: 720px;
  }
  .section_three p:nth-child(1) {
    font-size: 14px;
  }
  .section_three h2 {
    font-size: 16px;
    /* margin-top: -15px; */
  }
  .section_three h1 {
    font-size: 16px;
  }
  .three_context {
    font-size: 14px;
  }
  .section_three article:nth-child(2) img {
    width: 350px;
    margin-top: 50px;
  }
  .section_four {
    display: flex;
    flex-direction: column-reverse;

    justify-content: center;
    align-items: center;
    background-color: #f5f9fc;
    color: #ffffff;
    padding: 0;
    background-color: #484bff;
    height: 590px;
    min-width: 390px;

    gap: 40px;
  }
  .section_four article:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0;
  }
  .section_four article:nth-child(1) {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .section_four article:nth-child(1) img {
    width: 350px;
    height: auto;

    border-radius: 20px;
  }

  .section_four h1 {
    font-size: 16px;
  }
  .section_four h2 {
    font-size: 16px;
  }
  .section_four .sub_title {
    font-size: 14px;
  }
  .section_four .context {
    font-size: 14px;
  }

  .section_five {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fafafa;
    height: 590px;
    padding: 0;
    gap: 40px;
  }
  .section_five article:nth-child(2) img {
    width: 350px;
    height: auto;
    position: relative;
    top: 0;
    /* left: 100px; */
    border-radius: 20px;
  }
  .section_five .sub_title {
    font-size: 14px;
  }
  .section_five h1 {
    font-size: 16px;
  }
  .section_five span {
  }
  .section_five .context {
    font-size: 14px;
  }
  .section_six {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 150px;
    background-image: url("../../src/assets/gif/six.gif");
    background-size: 390px 580px;
    background-position: center;
    width: 100%;
    height: 580px;
  }
  .section_six article {
    display: none;
    justify-content: space-between;
    width: 1310px;

    text-align: center;
    color: #ffffff;
  }
  .section_six button {
    padding: 12px 16px;
    width: 160px;
    height: 44px;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    padding: 12px 16px;
    line-height: 20px;
    gap: 10px;
    position: relative;
    top: 170px;
    border: none;
    background-color: #484bff;
    border-radius: 4px;
  }
  .section_seven {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-image: url("../../src/assets/render/bg-seven.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 590px;

    margin-top: -2px;
  }
  .seven_first_img {
    width: 390px;
    height: 24px;
    margin-top: 20px;
    visibility: hidden;
  }
  .seven_sub_img {
    width: 170px;
    height: 194px;
    /* visibility: visible; */
    display: block;
  }
  .section_seven h1 {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
  }
  .seven_button_img {
    padding: 12px 16px;
    width: 150px;
    height: 44px;
    font-size: 14px;

    margin-top: 45px;
  }
  .section_eight article:nth-child(1) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    height: 169px;
  }
  .button_box {
    display: flex;
    justify-content: center;

    width: 100px;
  }
  .section_eight button {
    border: none;
    border-radius: 4px;
    width: 24px;
    height: 24px;
  }
  .section_eight p {
    font-size: 10px;
    font-weight: 400;
    color: #626262;
    margin-top: 15px;
  }
  .section_eight h4 {
    font-size: 11px;
    font-weight: 700;

    /* margin-top: 15px; */
  }
  .button_box img {
    margin-top: 10px;
    cursor: pointer;
  }
}
