.container {
  margin-top: 38px;
}

.container input:focus {
  font-size: 0.7rem;
}
.container input {
  font-size: 0.7rem;
}
.container p {
  font-weight: 400;
  font-size: 0.7rem;
}
.container p:hover {
  font-weight: 700;
}

.container form {
  width: 500px;
}
.email_box {
  margin-bottom: 8px;
}

.input_style {
  width: 478px;
  max-width: 500px;
  height: 38px;
  border: 1px solid #e1e1e1;
  border-radius: 4px;
}
.input_style::placeholder {
  font-size: 0.7rem;
  color: #e1e1e1;
}

.id_remember_box {
  display: flex;
  align-items: center;
}
.id_remember_box input {
  width: 18px;
  height: 18px;
}
.id_remember_box input:checked {
  width: 18px;
  height: 18px;
  accent-color: #484bff;
}
.id_remember_box label {
  font-weight: 400;
  margin-left: 11px;
  font-size: 0.7rem;
  /* transform: translateY(-40%); */
}
.id_remember_box input:checked + label {
  font-weight: 700;
}
.option_box_containel {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 21px;
  gap: 190px;
}

.sign_up_password_forget_box {
  display: flex;
}
.login_button {
  background-color: #484bff;
  border-radius: 4px;

  font-size: 0.8rem;
  font-weight: 700;
  color: white;

  width: 500px;
  height: 38px;

  margin-top: 33px;

  cursor: pointer;
}

.login_button:hover {
  background: #4c70ff;
}

.login_button:active {
  background-color: #0c1ba6;
}
.error_message {
  text-align: left;
  margin-top: 7px;

  font-size: 0.3rem;
  font-weight: 400;
  color: #f13400;
  margin: 5px 0;
}
.error {
  width: 478px;
  max-width: 500px;
  height: 38px;
  border-radius: 4px;
  font-size: 0.6rem;
  border: 1px solid #ff4205;
}
.pre_style {
  font-size: 0.7rem;
}
