.container {
  margin-top: 38px;
}
.container p {
  font-size: 14px;
  font-weight: 400;
}
.container p:hover {
  font-weight: 700;
}
.container label {
  font-weight: 700;
  margin-left: 11px;
  /* transform: translateY(-40%); */
}
.container form {
  width: 500px;
}

.input_style {
  width: 500px;
  max-width: 500px;
  height: 38px;

  border: 1px solid #e1e1e1;
  border-radius: 4px;

  gap: 8px;
}
.email_input {
  margin-bottom: 8px;
}
.input_style::placeholder {
  padding: 0 14px;
}
.id_remember_box {
  display: flex;
  align-items: center;
}
.id_remember_box input {
  width: 18px;
  height: 18px;
}
.id_remember_box input:checked {
  width: 18px;
  height: 18px;
  accent-color: #484bff;
}
.option_box_containel {
  width: 500px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 21px;
  gap: 190px;
}

.sign_up_password_forget_box {
  display: flex;
}
.login_button {
  background-color: #484bff;
  border-radius: 4px;

  font-size: 16;
  font-weight: 700;
  color: white;

  width: 500px;
  height: 38px;

  margin-top: 33px;

  cursor: pointer;
}
.login_button:active {
  background-color: #0c1ba6;
}
