.header_container {
  height: 80px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0 24px;
}
.header_container span {
  font-size: 14px;
  font-weight: 400;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title img {
  width: 18px;
  margin-right: 6px;
}
.render_nav {
  background-color: var(--color-blue-900);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;

  min-width: 400px;
  height: 80px;
  color: #ffffff;
}

.render_nav_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.render_nav_left_img {
  margin-right: 50px;
}
.render_nav_left_noti {
  margin-right: 50px;
}
.render_nav_left_guide {
  margin-right: 50px;
}
.user_box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.user_img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 15px;
}

.bold_text {
  font-weight: var(--weight-bold);
}

.login_box {
  margin-right: 20px;
}
