.header_container {
  height: 60px;
  display: flex;
  justify-content: space-between;
  min-width: 370px;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0 24px;
}
.header_container p {
  font-size: 0.7rem;
  font-weight: 400;
}
.click_text {
  font-size: 0.7rem;
  font-weight: 400;
  color: red;
  cursor: pointer;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title img {
  width: 18px;
  margin-right: 6px;
}
.profile_img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  border-radius: 50%;
}
.render_nav {
  background-color: var(--color-blue-900);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 0 240px; */
  /* width: 1440px; */
  min-width: 320px;
  height: 80px;
  color: #ffffff;
}
.section_nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1440px;
}
.render_nav_web {
  background-color: var(--color-blue-900);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
  min-width: 920px;
  height: 80px;
  color: #ffffff;
}

.render_nav_left {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-shrink: 0;
}
.render_nav_left_img {
  margin-right: 50px;
}
.render_nav_left_noti {
  margin-right: 50px;
  cursor: pointer;
}
.render_nav_left_guide {
  margin-right: 50px;
  cursor: pointer;
}
.base_user_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  cursor: pointer;
}
.base_user_box p {
  color: rgb(44, 44, 44);
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}

.render_user_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  flex-shrink: 0;
}
.render_user_box p {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration-line: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 400;
  margin-right: 1rem;
}
.render_user_box a {
  text-decoration: none;
}
.render_login_btn {
  color: rgb(237, 237, 237);
}

.user_img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 15px;
}

.bold_text {
  font-size: 0.7rem;
  margin-right: 4px;
  font-weight: var(--weight-bold);
  color: #000000;
}

.login_box {
  color: rgb(9, 9, 9);
  margin-right: 20px;
  cursor: pointer;
}

@media screen and (max-width: 510px) {
  .header_container {
    display: none;
  }
  .render_nav {
    /* padding: 10px 10px 10px 20px; */
    /* padding-left: 20px; */
    padding: 0 0 0 20px;
  }

  .render_nav > div:nth-child(2) {
    display: none;
  }
}

@media screen and (max-width: 400px) {
  .render_nav_left_img {
    margin-left: 20px;
  }
  .render_nav {
    /* padding: 10px 10px 10px 20px; */
    /* padding-left: 20px; */
    padding: 0 0 0 7px;
  }
}
@media screen and (max-width: 370px) {
  .render_nav {
    /* padding: 10px 10px 10px 20px; */
    /* padding-left: 20px; */
    padding: 0px;
  }
}
