.header_container {
  height: 60px;
  display: flex;
  justify-content: space-between;

  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 0 24px;
}
.header_container span {
  font-size: 14px;
  font-weight: 400;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title img {
  width: 18px;
  margin-right: 6px;
}
.render_nav {
  background-color: var(--color-blue-900);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 240px;
  min-width: none;
  height: 80px;
  color: #ffffff;
}

.render_nav_left {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.render_nav_left_img {
  margin-right: 50px;
}
.render_nav_left_noti {
  margin-right: 50px;
}
.render_nav_left_guide {
  margin-right: 50px;
}
.base_user_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.base_user_box p {
  color: #fff;
  font-size: 14px;
  font-weight: 700;
}
.render_user_box {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
}
.render_user_box p {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-decoration: none;
  text-decoration-line: none;
  color: #ffffff;
  font-weight: 700px;
}

.user_img {
  width: 33px;
  height: 33px;
  border-radius: 50%;
  margin-right: 15px;
}

.bold_text {
  font-weight: var(--weight-bold);
  color: #000000;
}

.login_box {
  margin-right: 20px;
  cursor: pointer;
}

.header_container dialog {
  width: 180px;
  height: 85px;
  display: flex;
  align-items: center;
  position: absolute;
  flex-direction: column;
  text-align: left;
  border: 1px solid #ddd;
  border-radius: 4px;
  top: 50px;
  left: 80%;
  padding: 0;
}

.header_container dialog div {
  border-bottom: 1px solid #ddd;
  width: 130px;
  padding: 5px;
  margin: 5px;
  text-align: center;
  font-size: 14px;
  color: #222;
  cursor: pointer;
}
.links_box:hover {
  font-weight: 700;
}

.links {
  text-decoration: none;
  margin-bottom: 1px;
}

@media screen and (max-width: 510px) {
  .header_container {
    display: none;
  }
  .render_nav {
    padding: 10px 10px 10px 20px;
  }

  .render_nav > div:nth-child(2) {
    display: none;
  }
}
