.create_container {
  display: flex;
  flex-direction: column;
  padding: 0 25px;
  /* min-height: 930px; */
}
.create_container h1 {
  font-size: 28px;
  font-weight: 700;
  margin-top: 44px;
}
.create_container p {
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 20px;
}
.hlep_text {
  font-size: 5px;
  color: rgb(40, 40, 40);
}
