.container_category {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  height: 40px;
  /* width: 100vw; */
  min-width: 1590px;

  background-color: var(--color-white-100);
  border-radius: 4px;
  margin-top: 20px;
}
.utm_name {
  display: flex;
  width: 1490px;

  transform: translateX(-0.5%);
}
.item {
  /* width: 190px; */
  margin-left: 15px;
}
.category_item {
  align-items: center;
  background-color: aqua;
}
.category_text {
  /* display: block; */
  width: 100%;
  min-width: 178px;

  /* gap: 15px; */
}
.create_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 40px;
}
.b_createutm {
  width: 20px;
  height: 20px;
}
