.container_category {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  height: 60px;
  width: 100%;
  min-width: 760px;
  background-color: var(--color-white-100);

  border-radius: 4px;
}
.category_item_box {
  display: flex;

  background-color: var(--color-white-100);
}
.category_item {
  /* overflow: hidden; */

  align-items: center;
  width: 12rem;
  min-width: 200px;
}
.category_text {
  display: inline-block;
  min-width: 178px;
  margin-right: 8px;
}
.create_img_box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 58px;
  /* padding: 20px; */
}
.b_createutm {
  width: 20px;
  height: 20px;
}
