.button {
    background-color: transparent;
  }
  
  .container {
    padding: 0;
  }
  .dialogBox {
    justify-items: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    padding: 0;
    border: 1px solid gainsboro;
    z-index: 9;
  }
  .header {
    display: flex;
    flex-direction: space-between;
    border-bottom: 1px solid #e1e1e1;
    height: 64px;
  }
  .title_box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 64px;
  }
  .title {
    position: relative;
    left: 25px;
    font-size: var(--font-title-headline16);
    font-weight: var(--weight-bold);
  }
  .cancleBtn {
    /* background-color: aquamarine; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 100%;
  }
  .contents {
    background-color: white;
    /* width: 800px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .bottom {
    display: flex;
    justify-content: center;
    height: 120px;
    align-items: flex-end;
  }
  .modal_button {
    width: 81px;
    height: 38px;
    border-radius: 4px;
    background-color: #484bff;
  }
  